2023/topics/06_rapid_prototyping/node-red/.flows.json.backup
[{"id":"ef62aec6.6c573","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"52b01fe9.c7ad8","type":"mqtt-broker","name":"mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"28936057.0c1468","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"bc73d148.082fa","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4bb5835b.f5146c","type":"ui_group","name":"Default","tab":"28936057.0c1468","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"173a5560.a2227b","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"examplesystem","name":"examplesystem","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://influxdb:8086","rejectUnauthorized":false},{"id":"18069109.a4676f","type":"mqtt in","z":"ef62aec6.6c573","name":"","topic":"esp32/lux","qos":"2","datatype":"auto","broker":"52b01fe9.c7ad8","nl":false,"rap":true,"rh":0,"x":230,"y":180,"wires":[["d3bfbd5.93735c","4305491c.3d419","9b88088e.5336c"]]},{"id":"9b88088e.5336c","type":"debug","z":"ef62aec6.6c573","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":100,"wires":[]},{"id":"d3bfbd5.93735c","type":"split","z":"ef62aec6.6c573","name":"","splt":" ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":420,"y":320,"wires":[["c045c8ca.9b0d48"]]},{"id":"c045c8ca.9b0d48","type":"switch","z":"ef62aec6.6c573","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"illuminance","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":320,"wires":[[]]},{"id":"4305491c.3d419","type":"function","z":"ef62aec6.6c573","name":"","func":"newmsg = msg;\n\nnewmsg.payload = parseInt(msg.payload.split(' ')[1].split('=')[1]);\n\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":180,"wires":[["9b88088e.5336c","1ace423f.294e9e"]]},{"id":"1ace423f.294e9e","type":"ui_chart","z":"ef62aec6.6c573","name":"","group":"4bb5835b.f5146c","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":960,"y":240,"wires":[[]]},{"id":"74de4443.789f7c","type":"influxdb in","z":"ef62aec6.6c573","influxdb":"173a5560.a2227b","name":"esp32","query":"from(bucket: \"examplesystem\")\n  |> range(start: -5h)\n  |> filter(fn: (r) => r._field == \"illuminance\" )","rawOutput":false,"precision":"","retentionPolicy":"","org":"profab","x":260,"y":520,"wires":[["4be70c81.faa664"]]},{"id":"894c815d.aafa18","type":"debug","z":"ef62aec6.6c573","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":440,"wires":[]},{"id":"816310f2.43252","type":"inject","z":"ef62aec6.6c573","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":520,"wires":[["74de4443.789f7c"]]},{"id":"8695b244.37ef7","type":"ui_chart","z":"ef62aec6.6c573","name":"","group":"4bb5835b.f5146c","order":0,"width":0,"height":0,"label":"{{msg.title}}","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":970,"y":540,"wires":[[]]},{"id":"4be70c81.faa664","type":"switch","z":"ef62aec6.6c573","name":"is not empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":440,"wires":[["2520e743.964e38"],["f89f11e8.e5627"]]},{"id":"c5ab3dec.329ad","type":"change","z":"ef62aec6.6c573","name":"chartData","rules":[{"t":"set","p":"chartData","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"chartData.x","pt":"msg","to":"$toMillis(payload._time)","tot":"jsonata"},{"t":"set","p":"chartData.y","pt":"msg","to":"payload._value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":420,"wires":[["e3f4aa62.4e4b78"]]},{"id":"2520e743.964e38","type":"split","z":"ef62aec6.6c573","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":380,"wires":[["c5ab3dec.329ad"]]},{"id":"e3f4aa62.4e4b78","type":"join","z":"ef62aec6.6c573","name":"","mode":"custom","build":"array","property":"chartData","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":460,"wires":[["c9c5f2cc.bac22"]]},{"id":"c9c5f2cc.bac22","type":"change","z":"ef62aec6.6c573","name":"format","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\"series\":[\"\"],\"data\":[[]],\"labels\":[\"\"]}]","tot":"json"},{"t":"set","p":"payload[0].data[0]","pt":"msg","to":"chartData","tot":"msg"},{"t":"set","p":"title","pt":"msg","to":"Influx data received","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":500,"wires":[["8695b244.37ef7","894c815d.aafa18"]]},{"id":"f89f11e8.e5627","type":"change","z":"ef62aec6.6c573","name":"[]","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"title","pt":"msg","to":"No Data","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":580,"wires":[["8695b244.37ef7"]]}]