2024/projects/03_Stephanotron/Flows/flows.json
[
    {
        "id": "4641d7c24d9b4cd1",
        "type": "tab",
        "label": "LED-communication",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c0e43fa6dcf4ecf8",
        "type": "ui-group",
        "name": "Ordering Station",
        "page": "a7e23c182576fd11",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "abdef25bc7903c19",
        "type": "ui-group",
        "name": "Orders Status",
        "page": "a7e23c182576fd11",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6deab72dfb72c0e7",
        "type": "ui-group",
        "name": "Robot Status",
        "page": "a7e23c182576fd11",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a7e23c182576fd11",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "c698523b4e6592b0",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "3011e5abeeb7eac2",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c698523b4e6592b0",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "3011e5abeeb7eac2",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "bd9966f0501f4612",
        "type": "mqtt-broker",
        "name": "RaspberryPiDRM",
        "broker": "raspberrypidrm.local",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "96c48c79f9faa1e6",
        "type": "ros-server",
        "url": "ws://profab.local:9090"
    },
    {
        "id": "e03746378cf9b719",
        "type": "function",
        "z": "4641d7c24d9b4cd1",
        "name": "Add Order",
        "func": "let orders = global.get(\"orders\") || [];\norders.push(msg.payload);\nglobal.set(\"orders\", orders);\n\nmsg.payload = orders.join(\"<br>\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nlet orders = [];",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 220,
        "wires": [
            [
                "08430a1c92c77e45",
                "017a61a77ec17397"
            ]
        ]
    },
    {
        "id": "08430a1c92c77e45",
        "type": "ui-text",
        "z": "4641d7c24d9b4cd1",
        "group": "abdef25bc7903c19",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Orders",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "4a6bdba680d6fed8",
        "type": "ui-text",
        "z": "4641d7c24d9b4cd1",
        "group": "6deab72dfb72c0e7",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Red LED",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#cc0000",
        "className": "",
        "x": 1240,
        "y": 480,
        "wires": []
    },
    {
        "id": "70ff1c8e7c137e63",
        "type": "ui-text",
        "z": "4641d7c24d9b4cd1",
        "group": "6deab72dfb72c0e7",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Blue LED",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#3465a4",
        "className": "",
        "x": 1240,
        "y": 540,
        "wires": []
    },
    {
        "id": "1543de30abf057f0",
        "type": "ui-text",
        "z": "4641d7c24d9b4cd1",
        "group": "6deab72dfb72c0e7",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Yellow LED",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#edd400",
        "className": "",
        "x": 1230,
        "y": 600,
        "wires": []
    },
    {
        "id": "b9fdb66d459e3882",
        "type": "ui-button",
        "z": "4641d7c24d9b4cd1",
        "group": "6deab72dfb72c0e7",
        "name": "",
        "label": "Robot is back",
        "order": 7,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "back",
        "payloadType": "str",
        "topic": "is_back",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "bc67a4d5b77888da"
            ]
        ]
    },
    {
        "id": "0cf646ac841d692a",
        "type": "function",
        "z": "4641d7c24d9b4cd1",
        "name": "LED control",
        "func": "let topic_in = msg.topic;\nlet payload_in = msg.payload;\n\nmsg.payload = {\n    \"red\": \"off\",\n    \"blue\": \"off\",\n    \"yellow\": \"off\"\n}\n\nif (topic_in == \"robot_order\") {\n    if (payload_in == \"red\") {\n        msg.payload.red = \"on\";\n    } else if (payload_in == \"blue\") {\n        msg.payload.blue = \"on\";\n    } else if (payload_in == \"yellow\") {\n        msg.payload.yellow = \"on\";\n    }\n}\n\nif (topic_in == \"is_can_in_holder\") {\n    if (payload_in == true) {\n        msg.payload = {\n            \"red\": \"on\",\n            \"blue\": \"on\",\n            \"yellow\": \"on\"\n        }\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 540,
        "wires": [
            [
                "3a64efb4047b4640",
                "b612fc4e1859f8d6",
                "f7d5de0f79bdb0c5"
            ]
        ]
    },
    {
        "id": "3a64efb4047b4640",
        "type": "function",
        "z": "4641d7c24d9b4cd1",
        "name": "red LED control",
        "func": "let status = msg.payload.red;\nmsg.payload = status;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 480,
        "wires": [
            [
                "4a6bdba680d6fed8"
            ]
        ]
    },
    {
        "id": "f7d5de0f79bdb0c5",
        "type": "function",
        "z": "4641d7c24d9b4cd1",
        "name": "yellow LED control",
        "func": "let status = msg.payload.yellow;\nmsg.payload = status;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 600,
        "wires": [
            [
                "1543de30abf057f0"
            ]
        ]
    },
    {
        "id": "b612fc4e1859f8d6",
        "type": "function",
        "z": "4641d7c24d9b4cd1",
        "name": "blue LED control",
        "func": "let status = msg.payload.blue;\nmsg.payload = status;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 540,
        "wires": [
            [
                "70ff1c8e7c137e63"
            ]
        ]
    },
    {
        "id": "017a61a77ec17397",
        "type": "function",
        "z": "4641d7c24d9b4cd1",
        "name": "Serve Order",
        "func": "let orders = global.get(\"orders\") || [];\nlet position = global.get(\"position\") || \"gone\";\n\nif ((msg.payload == \"back\" || position == \"back\") && orders.length > 0) {\n    msg.payload = orders[0];\n} else {\n    msg.payload = null;\n}\n\nmsg.topic = \"robot_order\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 420,
        "wires": [
            [
                "0cf646ac841d692a"
            ]
        ]
    },
    {
        "id": "7905b7ab8125552c",
        "type": "function",
        "z": "4641d7c24d9b4cd1",
        "name": "Remove Order",
        "func": "let orders = global.get(\"orders\") || [];\n\n// I think we can change the topic to \"move_base_simple/goal\"\nif (msg.topic == \"is_can_in_holder\") {\n    if (orders.length > 0 && msg.payload == true) {\n        orders.shift();\n    }\n}\n\nglobal.set(\"orders\", orders);\n\nmsg.payload = orders.join(\"<br>\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nlet orders = [];",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 340,
        "wires": [
            [
                "08430a1c92c77e45"
            ]
        ]
    },
    {
        "id": "ec6b7a48821d6d23",
        "type": "ui-text",
        "z": "4641d7c24d9b4cd1",
        "group": "6deab72dfb72c0e7",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Robot Position",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 460,
        "y": 620,
        "wires": []
    },
    {
        "id": "bc67a4d5b77888da",
        "type": "function",
        "z": "4641d7c24d9b4cd1",
        "name": "Set Robot position",
        "func": "// I think topic can be changed to \"move_base_simple/goal\"\nif (msg.topic == \"is_can_in_holder\") {\n    msg.payload = \"gone\";\n    global.set(\"position\", \"false\");\n} else {\n    global.set(\"position\", msg.payload);\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 520,
        "wires": [
            [
                "ec6b7a48821d6d23",
                "017a61a77ec17397",
                "da44f06707043782"
            ]
        ]
    },
    {
        "id": "67c482b55c9b210d",
        "type": "ui-button",
        "z": "4641d7c24d9b4cd1",
        "group": "6deab72dfb72c0e7",
        "name": "",
        "label": "Robot is gone",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "gone",
        "payloadType": "str",
        "topic": "is_back",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "bc67a4d5b77888da"
            ]
        ]
    },
    {
        "id": "5b0a63d090f1c141",
        "type": "mqtt in",
        "z": "4641d7c24d9b4cd1",
        "name": "Order Red Drink",
        "topic": "color/drink1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bd9966f0501f4612",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 180,
        "wires": [
            [
                "e03746378cf9b719",
                "da44f06707043782"
            ]
        ]
    },
    {
        "id": "fd99fcbc2601fc13",
        "type": "mqtt in",
        "z": "4641d7c24d9b4cd1",
        "name": "Move",
        "topic": "move_base_simple/goal",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bd9966f0501f4612",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 400,
        "wires": [
            [
                "7905b7ab8125552c",
                "bc67a4d5b77888da",
                "0cf646ac841d692a"
            ]
        ]
    },
    {
        "id": "da44f06707043782",
        "type": "ros-publish",
        "z": "4641d7c24d9b4cd1",
        "server": "96c48c79f9faa1e6",
        "topicname": "move_base_simple/goal",
        "typepackage": "",
        "typename": "String",
        "stampheader": false,
        "x": 730,
        "y": 640,
        "wires": []
    }
]